#body{
	background-color:#ADEOEO;
	background-image:stback.jpg;
}


#header {
  	padding: 10px;
  text-align: center;
  background: #00FF99;
  color: white;
  font-size: 20px;
}

#logo{
	float: left;
	}

#Sign-In{
margin-top:150px;
margin-bottom:150px;
margin-right:150px;
margin-left:450px;
border:3px solid #00FF00;
padding:9px 35px; 
background:#22AACC;
width:400px;
border-radius:20px;
box-shadow: 7px 7px 6px;
}

#footer{
	text-align : right;
	background-color:#FF0000;
	padding: 10px;
}